.captureWrapper {
    margin: 20px;
    border-radius: 8px;
}

.qrCode {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 14px 0 ;
    gap: 8px
}

.cornerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px; /* Width of the box */
  height: 200px; /* Height of the box */
  transform: translate(-50%, -50%);
  pointer-events: none;
  border: none;
}

.cornerBox::before,
.cornerBox::after {
  content: "";
  position: absolute;
  width: 20px; /* Length of the corner lines */
  height: 20px;
  border: 2px solid red; /* Color and thickness of the corners */
  border-radius: 8px; /* Adjust this for rounded corners */
}

.cornerBox::before {
  top: -2px;
  left: -2px;
  border-right: none;
  border-bottom: none;
}

.cornerBox::after {
  bottom: -2px;
  right: -2px;
  border-left: none;
  border-top: none;
}