
.profilePageWrapper {
  margin: 8px;
}

.profile {
  margin: 8px;
}

.card {
  margin: 12px 8px
}

.text {
  display: flex;
  vertical-align: center;
  justify-content: space-between;
}

.profileSection {
  margin: 10px
}


.settingsSection {
  display: flex;
  vertical-align: center;
  justify-content: space-between;
  margin-bottom: 12px 8px;
}

.buttonWrapper {
  margin-bottom: 8px
}
